*{
    margin: 40px;
    padding: 0;
    text-align: center;
    /*outline: solid 1px rgb(0, 183, 255);*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.mmargin{
    /*display: flex;*/
    background-color: #d15b19;
    width: 800px;
    height: 600px;
    margin: auto;
}

.bborder{
    /*display: flex;*/
    background-color: #e5a685;
    width: 600px;
    height: 450px;
    margin: auto;
}

.ppadding{
    /*display: flex;*/
    background-color: #459fc7;
    width: 450px;
    height: 300px;
    margin: auto;
}

.ccontent{
    /*display: flex;*/
    background-color: #9fcae0;
    width: 300px;
    height: 170px;
    margin: auto;
    padding:1px;
}





