*{
    outline: solid 1px rgb(0, 4, 255);
    margin: 0;
    padding: 0;
}

.container{
    background-color: #fdf6ec;
}

.superior{
    height: 180px;
    background-color: #34495e;
}

.centro{
    display:flex;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    margin: 80px 160px 0px 160px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.bl0{
    flex:1;
    background-color: #e67e22;
    height: 180px;
    margin: 50px 40px 0px 40px;
    border-radius: 10px;
}

.bl1, .bl2, .bl3{
    background-color: #d35400;
    height: 100px;
    width: 200px;
    margin:20px;
    border-radius: 10px;
    
}