*{
    margin: 5;
    outline: solid 1px rgb(0, 4, 255);
}

body{
    background-color: #f5f5fe;
    text-align: center;
    width: 100%;
    display:flex;
    justify-content: center;
}

.container{
    width: 800px;
    display:flex;
    justify-content: center;
    flex-flow: column;
    gap: 15px;

}

.celeste, .rosa, .blanco{
    justify-content: space-around;
    height: 250px;
    display:flex;
    align-items: center;
}


.celeste{
    background-color: #65d1ff;
    display:flex;
    justify-content: space-around;
}

.rosa{
    background-color: #d2aab2;
}

.blanco{
    background-color: white;
}



img {
    height: 200px;
}

